{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    <section class="custom-section knowledge-section loneliness-background">
        <div id="knowledge-content" class="custom-container custom-container-padding">
            <h1>LA SOLITUDE</h1>
            <div class="knowledge-content-block">
                <p>
                    Dans un monde hyperconnecté où l'on peut se sentir seul même en recevant des notifications à la vitesse de la lumière, la solitude est devenue le nouveau paradoxe social. C'est comme être perdu dans une ville surpeuplée en se demandant où tout le monde est parti. Alors, prenons notre loupe émotionnelle et examinons de plus près ce mystérieux concept.
                </p>

                <h2>Qu'est-ce que la Solitude ?</h2>
                <p>
                    La solitude est un état émotionnel complexe qui se manifeste lorsque nos besoins de connexion sociale ne sont pas satisfaits. C'est un peu comme avoir une table pour deux dans un restaurant chic et se rendre compte que vous êtes la seule personne à votre table... et le pire, c'est que même le serveur semble trop occupé pour vous apporter du pain.
                </p>

                <h2>Les Causes de la Solitude : Plusieurs Chemins Mènent à l'Isolation</h2>
                <p>
                    Les raisons de la solitude sont aussi variées que les goûts de glace dans une gelateria italienne. Elles peuvent inclure des changements de vie majeurs, comme déménager dans une nouvelle ville où le seul ami que vous faites pendant les premiers jours est votre barista. Ou peut-être que vous êtes introverti et que l'idée de socialiser vous semble aussi attrayante que de faire du parachutisme sans parachute.
                </p>

                <h2>Symptômes : Comment Reconnaître la Solitude ?</h2>
                <p>
                    Vous pourriez être entouré de gens et vous sentir seul, un peu comme un astronaute se sentirait seul dans l'espace même s'il est constamment en communication avec Houston.
                </p>
                <div>
                    <ul>
                        <li><b>Sentiment de vide :</b> Vous pourriez avoir plein de gens autour de vous et pourtant vous sentir vide, comme un grand ballon de baudruche qui a perdu son air.</li>
                        <li><b>Sentiment de séparation :</b> Même dans une foule, vous pourriez vous sentir comme un puzzle dont la pièce ne correspond à aucun autre.</li>
                        <li><b>Manque d'appartenance :</b> Vous pourriez avoir l'impression d'être un personnage de jeu vidéo dans le monde réel, où tout le monde semble jouer à un autre jeu.</li>
                    </ul>
                </div>

                <h2>Effets de la Solitude : Ce n'est Pas Juste un Blues</h2>
                <p>
                    La solitude n'est pas seulement triste, elle peut affecter votre santé globale. Des études montrent qu'elle peut être aussi nocive que de fumer 15 cigarettes par jour, ce qui est plutôt ironique, car fumer seul est aussi... solitaire.
                </p>
                <div>
                    <ul>
                        <li><b>Santé mentale :</b> Elle peut conduire à la dépression, l'anxiété, et même à des hallucinations (non, le chat qui parle n'est pas réel).</li>
                        <li><b>Santé physique :</b> Elle peut augmenter le risque de maladies cardiaques, parce que votre cœur se sent seul aussi, apparemment.</li>
                        <li><b>Sommeil :</b> Elle peut perturber votre sommeil, vous laissant compter les moutons jusqu'à ce que les moutons commencent à vous sembler ennuyeux.</li>
                    </ul>
                </div>

                <h2>Surmontez la Solitude : Devenir son Propre Meilleur Ami</h2>
                <p>
                    Heureusement, la solitude n'est pas une sentence à perpétuité. Voici quelques stratégies pour la surmonter :
                </p>
                <div>
                    <ul>
                        <li><b>Activités sociales :</b> Joindre un club ou un groupe; il pourrait s'avérer que tricoter en groupe est plus amusant que prévu.</li>
                        <li><b>Volontariat :</b> Rien ne vous fait sentir plus connecté que de donner de votre temps à ceux qui en ont besoin.</li>
                        <li><b>Animaux de compagnie :</b> Adopter un animal de compagnie peut vous donner l'affection et la compagnie dont vous avez besoin, et ils n'ont jamais de mauvais jours de cheveux.</li>
                        <li><b>Développement personnel :</b> Apprendre quelque chose de nouveau, comme une langue étrangère, pour pouvoir se parler à soi-même de manière plus sophistiquée.</li>
                    </ul>
                </div>

                <h2>L'Humour : l'Antidote à la Solitude</h2>
                <p>
                    Et rappelez-vous, l'humour est un excellent moyen de combattre la solitude. Rire de soi-même peut être un excellent début. Après tout, qui n'a pas ri après avoir trébuché en public ? La solitude peut être difficile, mais avec une bonne dose d'auto-dérision et un zeste de volonté pour s'ouvrir, on peut la transformer en une aventure enrichissante, à défaut d'être moins peuplée.
                </p>
                <p>
                    En bref, la solitude est une émotion, pas une fatalité. Et comme toutes les émotions, elle est passagère. Donc, si vous vous sentez seul, rappelez-vous : c'est juste votre super-héros intérieur qui attend le bon moment pour rejoindre l'équipe.
                </p>
                <p class="knowledge-final-string">
                    Et surtout, rassurez-vous dès maintenant, avec les bonnes solutions, vous pouvez vous en débarrasser et retrouver un quotidien loin de tout cela.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
