{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    <section class="custom-section knowledge-section panic-attack-background">
        <div id="knowledge-content" class="custom-container custom-container-padding">
            <h1>L'ATTAQUE DE PANIQUE</h1>
            <div class="knowledge-content-block">
                <p>
                    Les attaques de panique, ces moments où votre corps décide subitement de lancer un festival de sensations intenses, sans votre consentement. Imaginez une flash mob interne où chaque cellule de votre corps se met à danser frénétiquement. Sauf que, dans ce cas, personne n'applaudit.
                </p>

                <h2>Qu'est-ce qu'une Attaque de Panique ?</h2>

                <p>
                    Une attaque de panique est une montée soudaine et intense de peur et d'anxiété qui surgit sans prévenir et sans raison apparente. Une peur intense de mourir, de faire une crise cardiaque ou de perdre le contrôle s'installe.
                    <br>Le corps s'emballe, de l'adrénaline et du cortisol (hormone du "stress") sont libérés en grande quantité, le cœur bat la chamade, la respiration s'accélère, les muscles se tendent, et vous vous sentez comme si vous étiez sur le point de mourir. C'est une expérience très effrayante, mais heureusement, elle est sans danger pour votre santé.
                </p>
                <h2>Différence entre Crise d'Angoisse et Attaque de Panique</h2>
                <p>
                    La crise d'angoisse et l'attaque de panique ont beaucoup de points communs. Ce qui va principalement les différencier sont l'intensité, la durée, et la fréquence.
                </p>
                <p><b>Intensité :</b></p>
                <p>
                     Une crise d'angoisse est une montée d'anxiété soudaine, mais elle est moins intense qu'une attaque de panique. Une attaque de panique est une crise d'angoisse qui atteint son paroxysme.
                </p>
                <p><b>Durée :</b></p>
                <p>
                    Une crise d'angoisse a une durée allant de quelques minutes à plus d'une heure (30 minutes en moyenne).<br>
                    L'attaque de panique est généralement plus brève, de quelques minutes à 20 minutes en moyenne.
                </p>
                <p><b>Fréquence :</b></p>
                <p>
                    La fréquence et la durée sont aussi différentes. <br>
                    Une crise d'angoisse est généralement ponctuelle, et espacée dans le temps. <br>
                    Une attaque de panique est généralement récurrente, et peut survenir plusieurs fois par jour, ou plusieurs fois par semaine, de jour comme pendant le sommeil.
                </p>
                <p>
                    Généralement, après une attaque de panique, on se sent épuisé, vidé, et on peut avoir l'impression d'avoir fait un marathon. C'est normal, car le corps a été soumis à un stress intense, et il a besoin de récupérer.
                </p>
                <p>
                    La plupart du temps, l'anxiété s'évapore après une crise d'angoisse, là où elle persiste généralement entre deux attaques de panique. Des attaques de panique répétées peuvent entraîner un trouble-panique, qui est un trouble anxieux caractérisé par des attaques de panique récurrentes et inattendues.
                </p>
                <h2>Les Symptômes : La Symphonie de l'Horreur</h2>

                <p>Les symptômes d'une attaque de panique peuvent inclure une collection de sensations peu plaisantes :</p>

                <div>
                    <ul>
                        <li><b>Peur de mourir :</b> Vous êtes convaincu de passer vers l'au-delà d'une seconde à l'autre.</li>
                        <li><b>Palpitations cardiaques et tachycardie :</b> Votre cœur se met à battre la chamade comme s'il essayait de battre le record du 100 mètres.</li>
                        <li><b>Sueurs :</b> Vous transpirez comme si vous veniez de courir un marathon dans le Sahara.</li>
                        <li><b>Tremblements :</b> Vous tremblez comme si vous étiez un téléphone en mode vibration sur une table en métal.</li>
                        <li><b>Sensations de suffocation :</b> Vous avez l'impression que votre col de chemise se resserre soudainement.</li>
                        <li><b>Douleur ou inconfort thoracique :</b> Une pression désagréable comme si un éléphant avait décidé de faire une sieste sur votre poitrine.</li>
                        <li><b>Nausées :</b> Votre estomac entre dans une danse de la samba.</li>
                        <li><b>Étourdissements :</b> Le monde se met à tourner comme une mauvaise version de manège.</li>
                        <li><b>Sensation de déréalisation ou de dépersonnalisation :</b> Vous vous sentez comme un personnage de jeu vidéo mal contrôlé par un joueur inexpérimenté.</li>
                        <li><b>Peur de perdre le contrôle ou de devenir fou :</b> Vous imaginez que vous êtes le protagoniste d'un film d'horreur où les choses ne se terminent jamais bien.</li>
                    </ul>
                    <p>
                        Ces symptômes sont extrêmement effrayants, mais lorsque le corps est sain, ils sont totalement bénins.
                    </p>

                </div>

                <h2>Les Causes : Le Mystère Non Résolu</h2>
                <p>
                    La cause exacte des attaques de panique est comme le mystère de savoir pourquoi nous rions toujours quand quelqu'un trébuche (gentiment, bien sûr). Cela peut être un mélange complexe de facteurs biologiques, environnementaux et sociaux.<br>
                    Généralement, les attaques de panique se développent lorsque l'anxiété est constamment haute au fil des jours/semaines.
                </p>

                <h2>Vivre Avec : La Vie N'est Pas une Comédie Musicale</h2>

                <p>
                    Vivre avec des attaques de panique, c'est un peu comme avoir un réveil sans bouton snooze. Cela peut affecter la qualité de vie, la performance au travail, et les relations. C'est comme essayer de danser sur une chanson dont le rythme change constamment.
                </p>
                <p>
                    Il est important de prendre la situation en main, de ne pas espérer que cela s'arrête tout seul. Le meilleur moyen pour cela est sans aucun doute un accompagnement psychologique/psychiatrique.
                </p>

                <h2>Traitement : Éteindre la Musique</h2>

                <p>Le traitement des attaques de panique peut inclure :</p>

                <div>
                    <ul>
                        <li><b>Accompagnement par un psy :</b> C'est sans aucun doute la première et la meilleure solution à mettre en place.</li>
                        <li><b>Thérapie :</b> La thérapie comportementale et cognitive (TCC) peut vous aider à déconstruire et à gérer vos peurs, comme résoudre un Rubik's Cube avec votre esprit.</li>
                        <li><b>Respiration profonde :</b> Pratiquez la respiration diaphragmatique pour calmer votre système nerveux, comme si vous souffliez doucement sur les bougies d'un gâteau d'anniversaire.</li>
                        <li><b>Relaxation musculaire :</b> Apprenez à détendre vos muscles un par un, comme si vous fondiez dans votre canapé.</li>
                        <li><b>Médicaments :</b> Dans certains cas, des médicaments peuvent aider à réduire la fréquence ou l'intensité des crises.</li>
                    </ul>
                </div>

                <h2>Prévention : Garder le Contrôle de la Playlist</h2>

                <p>Pour prévenir les attaques de panique, considérez les stratégies suivantes :</p>

                <div>
                    <p>Retrouver un mode de vie sain peut aider à prévenir les crises d'angoisse. Voici quelques conseils :</p>
                    <ul>
                        <li><b>Connaissance de soi :</b> Apprenez à reconnaître les signes avant-coureurs d'une attaque de panique.</li>
                        <li><b>Exercice régulier :</b> Brûlez l'anxiété en faisant de l'exercice, comme si vous couriez loin de vos problèmes... littéralement.</li>
                        <li><b>Alimentation saine :</b> Mangez équilibré pour maintenir vos niveaux d'énergie, sans oublier de vous accorder une gourmandise de temps en temps.</li>
                        <li><b>Sommeil suffisant :</b> Offrez à votre corps le repos dont il a besoin, imaginez que vous êtes un smartphone en charge, ne vous débranchez pas à 3 %.</li>
                        <li><b>Bannir les produits excitants :</b> Les produits comme le café, le thé, les sodas, le tabac, l'alcool ou les boissons énergisantes jouent sur le niveau d'anxiété général, et donc sur la survenue des crises d'angoisse.</li>
                    </ul>
                </div>

                <h2>Pour Finir : Un Peu d'Humour</h2>

                <p>
                    N'oubliez pas de rire, même si c'est après coup. La capacité de rire de vos mésaventures peut être un excellent mécanisme de défense. Après tout, une attaque de panique, c'est un peu comme si votre corps organisait une fête d'Halloween tous les jours sans vous le dire. Alors, quand vous sentez une attaque venir, pensez à elle comme à un invité non désiré qui au moins, ne restera pas pour le dîner.
                </p>
                <p class="knowledge-final-string">
                    Et surtout, rassurez-vous dès maintenant. Il s'agit d'un phénomène certes effrayant, mais sans aucun danger pour votre santé. De plus, avec les bonnes solutions, vous pouvez vous en débarrasser et retrouver un quotidien loin de tout cela.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
