{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    <section class="custom-section knowledge-section advice-background">
        <div id="knowledge-content" class="custom-container custom-container-padding">
            <h1>CONSEILS</h1>
            <div class="knowledge-content-block">
                <p>
                    Naviguer dans les eaux tumultueuses d'un trouble psychologique est un peu comme essayer de monter une tente dans une tempête : frustrant, déroutant et parfois, vous avez juste envie de jeter le manuel d'instructions par-dessus bord. Mais ne vous inquiétez pas, avec quelques outils clés et un peu d'humour, vous pouvez vous abriter de la tempête et peut-être même apprendre à danser sous la pluie.
                </p>

                <h2>Acceptez Votre Réalité</h2>
                <p>
                    Reconnaître et accepter que vous ayez un trouble psychologique est le premier pas vers la guérison. C'est un peu comme admettre que vous êtes perdu avant de pouvoir utiliser Google Maps pour trouver votre chemin. Cela ne veut pas dire que vous êtes faible; cela signifie simplement que votre GPS interne a besoin d'une petite mise à jour.
                </p>

                <h2>Cherchez de l'Aide Professionnelle</h2>
                <p>
                    Consulter un professionnel de la santé mentale, c'est comme embaucher un guide pour une expédition dans la jungle de votre esprit. Que ce soit un psychologue, un psychiatre ou un conseiller, ces experts sont équipés de machettes mentales pour vous aider à défricher le chemin.
                </p>

                <h2>Informez-vous sur Votre Trouble</h2>
                <p>
                    Devenir un expert sur votre trouble, c'est comme étudier le manuel du "Faire face à un ours" avant de partir en randonnée. Plus vous savez de choses sur ce que vous affrontez, mieux vous êtes préparé à gérer les imprévus.
                </p>

                <h2>Parlez-En</h2>
                <p>
                    Partager ce que vous vivez avec des proches de confiance peut être libérateur. C'est un peu comme ouvrir les fenêtres pour aérer une pièce renfermée. Vous pourriez être surpris de découvrir combien d'air frais cela peut apporter.
                </p>
                <p>
                    Il n'est pas toujours simple d'en parler ouvertement à ses proches. C'est pourquoi nous vous proposons d'en parler ici via le <a>forum</a> ou en <a href="{{ path('app_conversation_index') }}">message privé</a>.
                </p>

                <h2>Prenez Soin de Vous</h2>
                <p>
                    Prendre soin de soi quand on subit un trouble psychologique, c'est comme charger votre téléphone : vital pour que tout fonctionne correctement. Cela inclut une alimentation saine, un sommeil suffisant, de l'exercice régulier et, oui, des pauses pour faire des choses que vous aimez (même si c'est juste regarder des vidéos de chats sur internet).
                </p>

                <h2>Pratiquez la Pleine Conscience</h2>
                <p>
                    La pleine conscience, c'est comme utiliser un détecteur de métal sur la plage de vos pensées : vous apprenez à reconnaître ce qui est précieux et ce qui est juste du vieux métal rouillé. Cela peut vous aider à vous concentrer sur le moment présent et à vous débarrasser des pensées négatives.
                </p>

                <h2>Établissez une Routine</h2>
                <p>
                    Avoir une routine quotidienne peut ajouter de la structure et de la prévisibilité, ce qui peut être très rassurant. C'est comme suivre une recette pour faire un gâteau : vous savez ce qui va arriver ensuite, et le résultat est généralement doux.
                </p>

                <h2>Évitez les Substances Nocives</h2>
                <p>
                    Évitez l'alcool et les drogues non prescrites. Se tourner vers elles, c'est comme mettre un pansement sur une fracture : cela ne résoudra pas le problème et pourrait même l'aggraver.
                </p>

                <h2>Fixez des Objectifs Réalistes</h2>
                <p>
                    Se fixer de petits objectifs atteignables, c'est comme remplir un pot de pièces de monnaie : chaque petit succès contribue à une plus grande récompense.
                </p>

                <h2>Ayez de l'Humour</h2>
                <p>
                    N'oubliez jamais de rire, même de vos propres mésaventures. L'humour peut être un bouclier puissant contre les lances de l'anxiété et de la dépression. Rire de soi-même peut être aussi thérapeutique que n'importe quel médicament, sauf que vous n'avez pas besoin de prescription pour une bonne blague.
                </p>
                <p>
                    Subir un trouble psychologique n'est pas un chemin facile, mais c'est un voyage que vous n'avez pas à faire seul. Avec les bons outils, la bonne compagnie et la bonne attitude, vous pouvez construire un abri contre la tempête et même y accrocher quelques décorations. Rappelez-vous, le chemin vers la guérison est un marathon, pas un sprint; alors prenez le temps d'apprécier les petites victoires en chemin.
                </p>

            </div>
        </div>
    </section>
{% endblock %}
