{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    <section class="custom-section knowledge-section exercice-background">
        <div id="knowledge-content" class="custom-container custom-container-padding">
            <h1>LES EXERCICES</h1>
            <div class="knowledge-content-block">
                <p>
                    Quand on parle de troubles psychiques, l'exercice n'est souvent pas la première chose qui vient à l'esprit. Cependant, bouger un peu plus que vos pouces sur votre smartphone peut être un allié puissant dans la bataille pour le bien-être mental. Alors, lacez vos baskets de la bonne humeur, et explorons ensemble quelques exercices adaptés à ceux qui naviguent dans les eaux parfois houleuses de la psyché.
                </p>
                <p>
                    Ces exercices peuvent être d'une grande aide pour les personnes qui souffrent de troubles psychiques, mais ils ne remplacent pas l'accompagnement médical. Si vous souffrez de dépression, d'anxiété ou d'autres troubles psychiques, consultez un professionnel de la santé mentale est important.
                </p>
                <div class="accordion" id="accordion-exercice">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                La cohérence cardiaque : Relaxation Immédiate
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    Le premier est un exercice de respiration avec le ventre. Il s'agit d'utiliser son ventre plutôt que le thorax pour inspirer et expirer. Dans un premier temps, faites cet exercice en position allongé, puis plus tard le reproduire en position assise et debout.
                                </p>
                                <div>
                                    <ol>
                                        <li>Allongez-vous sur une surface agréable et placez vos deux mains au niveau du nombril.</li>
                                        <li>Inspirez lentement par le nez. Votre ventre se gonfle (et non votre thorax).</li>
                                        <li>Retenez votre souffle pendant 2 à 3 secondes.</li>
                                        <li>Expirez lentement par la bouche. Votre ventre se dégonfle pour laisser l'air s'expirer.</li>
                                        <li>Répétez ce cycle 10 à 12 fois, au moins 3 fois par jour et avant d'affronter une situation qui vous stress.</li>
                                    </ol>
                                </div>
                                <p>
                                    Vous devriez rapidement ressentir un mieux et une sensation de légèreté.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                La focalisation : Stoppez les Pensées Négatives
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    Pour cet exercice, il s'agit de focaliser votre attention pendant quelques secondes sur un objet peu commun et de se réciter un genre de mantra.
                                </p>
                                <p>
                                    Dans chaque endroit où vous passez beaucoup de temps, placez un objet que vous n'avez pas l'habitude de voir. Il peut s'agir d'un dessin, d'une gommette de couleur, un logo ... choisissez ce qui vous plait. Pour ma part, j'avais opté pour des gommettes de couleur.
                                </p>
                                <p>
                                    Les endroits principaux où il est recommandé de les placer : cuisine, salle de bain, salon, chambre, sur le tableau de bord de votre voiture, sur votre bureau et même sur votre montre ou votre sac à main.
                                </p>
                                <p>
                                    L'idée de cet exercice est que lorsque des pensées négatives vous submergent et/ou que vous sentez l'anxiété monter en flèche, arrêtez ce que vous êtes en train de faire et focalisez votre regard sur l'objet choisi ; Répétez-vous ensuite un mantra comme « Stop ! Calme ! Tout va bien et tout va bien aller ! » couplé d'une respiration lente avec le ventre (cf. la cohérence cardiaque).
                                </p>
                                <p>
                                    Ça peut vous sembler ridicule au premier abord, et même ne pas très bien fonctionner les premières fois où vous essayerez cette technique. Après un tout petit peu de temps, ça fonctionne à merveille.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Yoga : Les Étirements de l'Esprit
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    Le yoga n'est pas seulement pour ceux qui veulent porter des leggings et dire "Namaste". C'est un moyen fantastique d'unir le corps et l'esprit, comme un duo comique qui travaille toujours bien ensemble. Les postures et la respiration du yoga peuvent diminuer le stress, améliorer la concentration et même vous aider à mieux dormir, sans compter que vous finirez par être aussi flexible qu'un élastique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Marche à Pied : La Thérapie Sous-Estimée
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    La marche est l'un des exercices les plus sous-estimés. C'est simple, gratuit, et vous n'avez pas besoin de vous inscrire à une salle de sport que vous ne fréquenterez probablement pas après le premier mois. Marcher, c'est comme un médicament sans ordonnance avec zéro effet secondaire. Alors, mettez vos écouteurs, jouez votre playlist préférée et laissez vos pieds faire le reste.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Méditation en Mouvement : La Conscience en Action
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    Si rester assis avec vos pensées pendant la méditation traditionnelle vous fait vous sentir comme un réfrigérateur qui bourdonne, essayez la méditation en mouvement. Cela peut être de la marche en pleine conscience, du tai-chi, ou même de la danse. C'est une façon de méditer qui ne vous demande pas de rester immobile comme une statue.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Activités de Groupe : La Solidarité dans la Sueur
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    Rejoindre un cours de sport ou une équipe peut être aussi bon pour votre santé mentale que pour votre vie sociale. C'est comme rejoindre une secte, mais au lieu de robes bizarres, vous portez des vêtements de sport, et vous sacrifiez vos calories au lieu de... bon, passons. L'important, c'est que vous vous sentiez bien dans votre peau et que vous vous amusiez.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Routines à la Maison : Votre Salon, Votre Gymnase
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    Il existe d'innombrables routines d'exercices que vous pouvez faire à la maison, sans aucun équipement. C'est un peu comme faire un puzzle : il faut trouver les bonnes pièces, mais une fois que vous avez trouvé la routine qui vous convient, vous verrez l'image complète de votre bien-être se former. Vous pouvez même faire des exercices pendant que vous regardez la télévision, comme des squats durant les publicités ou des pompes durant les scènes de sexe. C'est un peu comme un jeu à boire, mais sans l'alcool et avec des abdos en bonus.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
                                La thérapie cognitive : La Pensée Positive
                            </button>
                        </h2>
                        <div id="collapseHeight" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    Cet exercice consiste à réhabituer votre cerveau à supplanter les pensées négatives par des pensées positives.
                                </p>
                                <p>
                                    Comme vous le savez sans doute maintenant, les troubles psychiques sont alimentés par des pensées constamment néfastes qui vous prédisent le pire. Après plusieurs semaines de pratique, vous constaterez déjà que votre cerveau tendra majoritairement vers le positif.
                                </p>
                                <p>
                                    Le principe est le suivant :
                                </p>
                                <div>
                                    <ol>
                                        <li>Lister les situations qui vous angoissent.</li>
                                        <li>Commencer par la première de la liste et la garder en tête.</li>
                                        <li>Intercepter les pensées anxieuses qu'envoie automatiquement le cerveau en réponse à cette situation.</li>
                                        <li>Pour chaque pensée, discuter le pour et le contre de sa rationalité et pertinence, se demander s'il n'y a pas d'autres façons d'analyser et d'autres pensées alternatives.</li>
                                        <li>Imaginer une pensée rassurante et rationnelle à cette situation, et la garder en tête lorsqu'elle se produit.</li>
                                    </ol>
                                </div>
                                <p>
                                    Au fur et à mesure, votre cerveau s'habituera à ces nouvelles pensées rassurantes et ce sont elles qu'il vous enverra automatiquement.
                                </p>
                                <p>
                                    Par exemple, il peut y avoir la peur de manger :
                                </p>
                                <div>
                                    <ol>
                                        <li><b>Question :</b> Pourquoi ai-je peur de manger ?</li>
                                        <li><b>Réponse automatique du cerveau :</b> Si je mange, il va forcément m'arriver quelque chose de désagréable, j'ai peur de refaire une crise de panique, comme la dernière fois.</li>
                                        <li><b>Analyse de cette réponse :</b> Ce n'est pas vraiment pertinent ce que tu me réponds là mon bon cerveau. Je mange depuis que je suis né et (à part éventuellement exception) je n'ai jamais eu de problème. Alors pourquoi tu me réponds ça ? C'est vraiment invraisemblable. Je vais manger et tout va bien se passer.</li>
                                        <li><b>Nouvelle réponse plus cohérente :</b> J'ai faim, je vais manger et je vais me régaler !</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                Analyser l'instant T lorsqu'une crise survient : La Réalité
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    Il s'agit d'arriver à mettre ses pensées négatives sur « pause » pendant une crise d'angoisse et d'arriver à analyser ce que vous ressentez et ce qui vous entoure.
                                </p>
                                <p>
                                    Après quelque secondes, votre cerveau comprendra que vous n'êtes pas dans une situation dangereuse et que tout va bien. L'intensité de la crise diminuera d'un coup jusqu'à disparaître rapidement.
                                </p>
                                <p>
                                    C'est un exercice compliqué à mettre en place lorsque le trouble panique est très récent. Mais qui deviendra de plus en plus simple dès lors que vous aurez un minimum appris à appréhender vos crises d'angoisse.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                Exposition : Se Confronter Petit à Petit à la Réalité
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    Cet exercice demande également du temps, mais est extrêmement important.
                                </p>
                                <p>
                                    Il s'agit de s'exposer petit à petit aux situations banales du quotidien qui vous font maintenant peurs.
                                </p>
                                <p>
                                    Attention à ne pas s'exposer trop d'un coup. Donnez-vous des objectifs précis, d'abord très simples et facilement atteignables, puis graduellement plus "complexes".
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                La technique du tableau noir : L'Imagination à la Rescousse
                            </button>
                        </h2>
                        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    Cette technique est, dirons-nous, originale. En plus de faire un travail sur les pensées négatives, elle fait travailler l'imagination.
                                </p>
                                <div>
                                    <ul>
                                        <li>S'asseoir ou s'allonger dans un lieu calme et apaisant, fermer les yeux et respirer lentement.</li>
                                        <li>Imaginer un tableau noir, comme ceux qu'on a toutes et tous connu à l'école.</li>
                                        <li>Écrire sur ce tableau toutes les pensées anxieuses et toutes les situations angoissantes.</li>
                                    </ul>
                                </div>
                                <p>
                                    <em>Il est parfois compliqué d'imaginer du texte. On peut alors le remplacer par des images ou des couleurs qui le représente.</em>
                                </p>
                                <div>
                                    <ul>
                                        <li>Ensuite, imaginer une brosse qui vient effacer petit à petit tout ce qui est écrit sur ce tableau.</li>
                                        <li>Essayer de garder 2 à 3 minutes ce tableau complètement noir.</li>
                                        <li>Si pendant ce temps une ou plusieurs pensées anxieuses traversent l'esprit, les laisser s'écrire sur le tableau puis les effacer avec la brosse.</li>
                                    </ul>
                                </div>
                                <p>
                                    Dans cette première partie de l'exercice, l'idée est de faire comprendre au cerveau qu'on ne veut plus qu'il nous envoie ces pensées.
                                </p>
                                <p>
                                    Comme cette première partie ne résolve pas le problème à 100%, il est nécessaire de le compléter. Lorsqu'on commence à bien gérer la visualisation du tableau noir, d'y écrire les pensées, d'arriver à effacer avec la brosse et que la plupart du temps, il n'y a rien d'écrit sur le tableau, on peut passer à l'étape suivante.
                                </p>
                                <p>
                                    Cette étape consiste à venir écrire sur ce tableau des pensées joyeuses, qui vous rassurent, ainsi que des objectifs positifs qu'on aimerait atteindre. Il s'agit ensuite de les laisser écrites le plus longtemps possible afin que le cerveau s'en imprègne.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                La technique de l'élastique : Une Petite Douleur pour un Grand Bien
                            </button>
                        </h2>
                        <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordion-exercice">
                            <div class="accordion-body">
                                <p>
                                    <b>Attention : le but n'est pas de se faire vraiment (très) mal.</b>
                                </p>
                                <p>
                                    L'exercice est très simple. Il s'agit de faire comprendre au cerveau qu'on veut se débarrasser d'une pensée négative, quand elle nous traverse l'esprit, en l'associant à la douleur.
                                </p>
                                <p>
                                    Le principe :
                                </p>
                                <div>
                                    <ul>
                                        <li>Mettre un élastique autour d'un de ses poignets.</li>
                                        <li>Intercepter une pensée négative qui traverse l'esprit et se concentrer dessus.</li>
                                        <li>Faire claquer entre 1 et 3 fois l'élastique sur son poignet.</li>
                                        <li>Penser à quelque chose de positif/réconfortant.</li>
                                    </ul>
                                </div>
                                <p>
                                    C'est plutôt simple. Au fur et à mesure, le cerveau va associer ces pensées à la douleur et ne vous les enverra plus à l'esprit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
