{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    <section class="custom-section knowledge-section relative-background">
        <div id="knowledge-content" class="custom-container custom-container-padding">
            <h1>POUR LES PROCHES</h1>
            <div class="knowledge-content-block">
                <p>
                    Avoir un proche atteint d'un trouble psychique, c'est un peu comme être catapulté dans un jeu de société dont les règles changent constamment. Vous voulez aider, mais vous vous retrouvez souvent à deviner quel est le prochain coup. C'est un parcours qui demande de la patience, de l'empathie, et pourquoi pas, une pincée d'humour pour alléger les moments difficiles.
                </p>

                <h2>Comprendre le Trouble</h2>
                <p>
                    Avant tout, informez-vous. Les troubles psychiques peuvent sembler aussi complexes que de monter un meuble suédois sans notice. Prenez le temps de comprendre le trouble de votre proche, qu'il s'agisse de dépression, de trouble bipolaire, de schizophrénie, ou d'autres. Chaque trouble a son propre ensemble de défis, un peu comme chaque personnage de jeu vidéo a ses propres compétences.
                </p>

                <h2>Communication : La Clé du Donjon</h2>
                <p>
                    La communication est essentielle. C'est comme si vous appreniez une nouvelle langue, celle de la compassion et du soutien. Écoutez sans jugement, parlez avec gentillesse et assurez-vous que votre proche sait que vous êtes là, même juste pour partager un silence confortable.
                </p>
                <div>
                    <ul>
                        <li><b>Écoute active :</b> Montrez que vous êtes là pour écouter, pas pour donner une conférence.</li>
                        <li><b>Langage clair :</b> Utilisez des mots simples, évitez les métaphores compliquées qui pourraient prêter à confusion.</li>
                        <li><b>Non-jugement :</b> Gardez un esprit ouvert, comme un parachute, il fonctionne mieux quand il est ouvert.</li>
                    </ul>
                </div>

                <h2>Soutien : Être l'Ancre, Pas le Bateau</h2>
                <p>
                    Offrez votre soutien sans essayer de prendre le contrôle. Vous êtes là pour être une ancre de stabilité, pas pour naviguer le bateau à leur place. Encouragez votre proche à chercher un traitement professionnel et à adhérer à un plan de traitement. C'est un peu comme être le copilote dans une course : vous avez la carte, mais c'est votre proche qui conduit.
                </p>

                <h2>Établir des Limites : Le Bouclier Magique</h2>
                <p>
                    Définissez des limites saines pour vous-même. Vous n'êtes pas un super-héros, et même eux ont des limites (ils ne peuvent pas tous voler, après tout). Prendre soin de soi n'est pas égoïste, c'est comme mettre votre masque à oxygène en premier dans un avion : nécessaire pour aider les autres.
                </p>

                <h2>Se Préparer aux Urgences : Le Kit de Survie</h2>
                <p>
                    Soyez prêt en cas de crise. Ayez un plan, comme un kit de survie pour les randonnées en forêt. Sachez qui appeler, que ce soit le thérapeute de votre proche, un service d'urgence psychiatrique, ou son médecin traitant.
                </p>

                <h2>Éducation : L'Armure Contre l'Ignorance</h2>
                <p>
                    Informez-vous au maximum sur ce que subit votre proche. Brisez le stigma autour des troubles psychiques. C'est comme être un ambassadeur dans un pays étranger : vous êtes là pour construire des ponts, pas pour ériger des murs.
                </p>

                <h2>Trouver du Soutien : La Quête Commune</h2>
                <p>
                    Cherchez du soutien pour vous-même. Rejoindre un groupe de soutien, c'est comme rejoindre une guilde dans un jeu : ensemble, vous êtes plus forts.
                </p>

                <h2>Injecter de l'Humour : La Potion de Rire</h2>
                <p>
                    N'oubliez pas l'humour. Il peut alléger un moment tendu et rappeler à tous qu'il y a encore de la joie dans le monde. C'est comme saupoudrer de la poudre de fée sur une situation : ça ne résout pas tout, mais ça aide à voler au-dessus des problèmes pour un instant.
                </p>
                <p>
                    En résumé, être le proche d'une personne atteinte d'un trouble psychique, c'est un rôle qui demande de l'équilibre. Vous devez être le roc solide sur lequel ils peuvent s'appuyer, mais aussi le doux oreiller sur lequel ils peuvent se reposer. Avec de l'amour, de la patience, et une dose saine de soins personnels, vous pourrez tous naviguer dans ces eaux parfois tumultueuses avec une boussole pointant vers l'espoir.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
