{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section id="register-section" class="custom-section">
        {{ form_start(form) }}
        {{ form_row(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
