{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<section class="custom-section emergency-number-section">
    <div class="custom-container custom-container-padding">
        <h1>PRINCIPAUX NUMÉROS D'URGENCE</h1>
        <div class="emergency-number-header">
            <div class="emergency-number-header-item">
                <div>
                    <span><i class="fa-solid fa-phone"></i>  15</span>
                </div>
                <div>
                   SAMU
                </div>
            </div>
            <div class="emergency-number-header-item">
                <div>
                    <span><i class="fa-solid fa-phone"></i>  112</span>
                </div>
                <div>
                    URGENCES
                </div>
            </div>
            <div class="emergency-number-header-item">
                <div>
                    <span><i class="fa-solid fa-mobile-screen"></i> 114</span>
                </div>
                <div>
                    <p>URGENCES <span>(par sms)</span></p>
                    <p>Sourds et malentendants</p>
                </div>
            </div>
            <div class="emergency-number-header-item">
                <div>
                    <span><i class="fa-solid fa-phone"></i>  18</span>
                </div>
                <div>
                    POMPIERS
                </div>
            </div>
            <div class="emergency-number-header-item">
                <div>
                    <span><i class="fa-solid fa-phone"></i> 09 72 39 40 50</span>
                </div>
                <div>
                    SOS AMITIÉ
                </div>
            </div>
            <div class="emergency-number-header-item">
                <div>
                    <span><i class="fa-solid fa-phone"></i> 31 14</span>
                </div>
                <div>
                    PRÉVENTION SUICIDE
                </div>
            </div>
            <div class="emergency-number-header-item">
                <div>
                    <span><i class="fa-solid fa-phone"></i> 3919</span>
                </div>
                <div>
                    VIOLENCES CONJUGALES
                </div>
            </div>
            <div class="emergency-number-header-item">
                <div>
                    <span><i class="fa-solid fa-phone"></i> 17</span>
                </div>
                <div>
                    POLICE SECOURS
                </div>
            </div>
        </div>
        <div class="emergency-number-advices">
            <h2>
                Besoin d'une aide psychologique proche de chez vous ?
            </h2>
            <p>
                Les psychologues indépendants et les psychiatres libéraux n'ont souvent plus de place pour de nouveaux patients, ou alors ont des délais de consultations très longs.
            </p>
            <p>
                Afin d'avoir un premier accompagnement psychologique, dans des délais généralement courts (ou du moins raisonnables), vous pouvez vous tourner vers un Centre Médico-Psychologique (CMP) proche de chez vous.
            </p>
            <p>
                Les CMP sont des structures publiques qui proposent des consultations gratuites avec des psychologues, psychiatres, infirmiers, assistantes sociales, etc. Pour trouver le CMP le plus proche de chez vous, vous pouvez faire une simple recherche internet en indiquant votre position, vous pouvez vous renseigner auprès de votre mairie, ou bien consulter le site internet de l'Agence Régionale de Santé (ARS) de votre région.
            </p>
            <p>
                Lors de votre première consultation, un entretien d'évaluation et d'orientation sera généralement réalisé. Cet entretien permettra de déterminer vos besoins et de vous orienter vers le professionnel le plus adapté à votre situation.
            </p>

            <h2>
                Quoi faire en cas d'urgence psychologique ?
            </h2>
            <p>
                En cas de crise, de pensées suicidaires, de comportements dangereux pour vous ou pour autrui, ou de toute autre situation d'urgence psychologique, il est important de contacter immédiatement le SAMU (15), les urgences (112) ou les pompiers (18).<br>
                En cas d'impossibilité de parler ou d'entendre, vous pouvez envoyer un SMS au service d'urgence spécifique (114).
            </p>
            <p>
                Si vous êtes en situation de détresse psychologique, mais que vous n'êtes pas en danger immédiat, vous pouvez contacter le Centre Médico-Psychologique (faire une recherche internet pour trouver le numéro) le plus proche de chez vous, ou SOS Amitié (09 72 39 40 50).
            </p>
        </div>
    </div>
</section>

{% endblock %}
