{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}

{% block body %}
    <section class="custom-section dashboard-section">
        <div id="dashboard-section-content" class="custom-container">
        </div>
    </section>
{% endblock %}
