{% extends 'admin/baseAdmin.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}
    <section class="admin-section admin-index-section">
        <div id="admin-index-content" class="custom-container custom-container-padding admin-index-page">
            <a href="{{ path('app_admin_volunteer_index') }}">Bénévoles</a>
        </div>
    </section>
{% endblock %}