{# UNDERSTAND MODAL #}

<div class="modal fade" id="understandHomeModal" tabindex="-1" aria-labelledby="understandHomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="understandHomeModalLabel">Bien comprendre ce que vous traversez</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-dark-overlay">
                    <h5>Connaissance : Le Pouvoir sur la Maladie</h5>
                    <p>
                        Bien comprendre sa maladie mentale, c'est se donner le pouvoir et le contrôle sur le monstre invisible dans la pièce. C'est comme connaître les points faibles d'un boss final dans un jeu vidéo. Avec cette connaissance, vous pouvez élaborer des stratégies pour gagner les batailles quotidiennes contre votre trouble.
                    </p>
                    <h5>Démystifier la Maladie</h5>
                    <p>
                        Apprendre tout ce que vous pouvez sur votre trouble psychique est essentiel. Cela peut aider à démystifier ce qui vous arrive et réduire la peur de l'inconnu. C'est un peu comme allumer la lumière dans une pièce sombre pour découvrir que ce que vous pensiez être un monstre est juste un tas de vêtements sur une chaise.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{# ==================== #}

{# DOCTOR MODAL #}

<div class="modal fade" id="doctorHomeModal" tabindex="-1" aria-labelledby="doctorHomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="doctorHomeModalLabel">L'importance du médecin traitant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-dark-overlay">
                    <p>
                        Dans le monde médical, le médecin traitant est un peu comme le capitaine d'un navire : il connaît les eaux tumultueuses de votre santé et sait comment vous naviguer en sécurité vers le port du bien-être, même si la mer de votre santé mentale est agitée.
                    </p>

                    <h5>Le Rôle du Médecin Traitant</h5>
                    <p>
                        Le médecin traitant est le pivot central de votre parcours de santé. Il est le premier interlocuteur, le maestro d'un orchestre de spécialistes, et celui qui détient la baguette magique du dossier médical. C'est aussi le Sherlock Holmes de votre santé, décelant les symptômes mystérieux et déduisant ce qui ne va pas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{# ==================== #}

{# PSY MODAL #}

<div class="modal fade" id="psyHomeModal" tabindex="-1" aria-labelledby="psyHomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="psyHomeModalLabel">L'importance du suivi psychologique</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-dark-overlay">
                    <p>
                        Quand il s'agit de naviguer dans les eaux parfois tumultueuses de la santé mentale, avoir un psychologue ou un psychiatre à bord est comme avoir un guide expérimenté lors d'une expédition en haute mer. Ils ne peuvent pas promettre qu'il n'y aura pas de vagues, mais ils peuvent vous apprendre à ramer de manière plus efficace et, si nécessaire, vous aider à construire un meilleur bateau.
                    </p>

                    <h5>L'Importance d'un Psychologue ou d'un Psychiatre</h5>
                    <p>
                        Quand une personne subit un trouble psychique, l'accompagnement par un psychologue ou un psychiatre n'est pas juste un luxe, c'est aussi crucial que d'avoir un parachute quand on saute en avion. Ces professionnels sont les architectes de la santé mentale, aidant à construire les fondations nécessaires pour soutenir et améliorer la stabilité émotionnelle.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{# ==================== #}

{# COMMUNITY MODAL #}

<div class="modal fade" id="communityHomeModal" tabindex="-1" aria-labelledby="communityHomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="communityHomeModalLabel">Une communauté présente pour vous</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-dark-overlay">
                    <p>
                        Au délà de votre médecin traitant et de votre psychologue, il existe une communauté de personnes qui partagent les mêmes difficultés que vous. Ils sont comme des compagnons de voyage qui peuvent vous aider à traverser les tempêtes et à vous guider vers des eaux plus calmes.
                    </p>
                    <h5>À votre service</h5>
                    <p>
                        Que ça soit par le contenu du site internet, le forum et la discussion privée, vous pouvez compter sur nous pour vous répondre, vous aider et vous accompagner vers votre guérison.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{# ==================== #}
