{# WHAT TO DO MODAL #}
<div class="modal fade" id="whatToDoHomeModal" tabindex="-1" aria-labelledby="whatToDoHomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="whatToDoHomeModalLabel">Quoi faire ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-dark-overlay">
                    <h5>Au secours ! Je suis perdu.e !</h5>
                    <p>
                        Lorsqu'un trouble psy nous tombe dessus, on est souvent perdu.e. On ne sait pas quoi faire, ni où aller. On se sent seul.e et on a peur. On a peur de ne pas être compris.e, de ne pas être écouté.e, de ne pas être aidé.e. On a peur de ne pas être cru.e, de ne pas être pris.e au sérieux, de ne pas être soigné.e. On a peur de ne pas être aimé.e, de ne pas être accepté.e, de ne pas être normal.e.
                    </p>
                    <h5>Les actions principales à mettre en place</h5>
                    <p>
                       La première et la plus importante des choses, c'est de ne pas trainer, ne pas attendre en espérant que cela passe tout seul. C'est une possibilité, mais ce n'est pas toujours le cas. Comme toute maladie, plus elle est prise en charge tôt, plus vite elle sera soignée.
                    </p>
                    <p><b>Consulter son médecin traitant :</b></p>
                    <p>
                        Le médecin traitant est le votre premier interlocuteur. Il pourra poser un premier diagnostique et vous orienter dans votre parcours médical. N'hésitez pas à le consulter plusieurs fois, si vous en ressentez le besoin.
                    </p>
                    <p><b>Accompagnement psychologique ou psychiatrique :</b></p>
                    <p>
                        Le médecin traitant pourra vous orienter vers un psychologue ou un psychiatre. Ces professionnels de la santé mentale sont là pour vous aider à comprendre ce qui vous arrive et vous accompagner dans votre guérison.<br>
                        Il s'agit sans aucun doute de l'action la plus importante à mettre en place.
                    </p>
                    <p><b>Comprendre ce que vous subissez :</b></p>
                    <p>
                        Informez-vous un maximum sur votre trouble psychique. Comprendre ses mécanismes et ses symptômes vous aidera à mieux le gérer et à mieux le combattre.
                    </p>
                    <p><b>Parlez-en avec vos proches :</b></p>
                    <p>
                        Avoir un soutien total de sa famille et de ses proches est essentiel. N'hésitez pas à leur parler de ce que vous subissez. Ils pourront vous aider et vous soutenir dans votre parcours de guérison.
                    </p>
                    <p><b>Attention aux recherches (maladroites) sur internet :</b></p>
                    <p>
                        Lorsqu'on va mal et qu'on ne sait pas trop pourquoi, il est alors naturel de chercher des réponses. Internet regorge d'articles sur des maladies plus terrifiantes les unes que les autres.<br>
                        Par exemple, dans le cas d'un trouble anxieux, qui implique des symptômes physiques, si vous faites des recherches sur internet, vous risquez de vous retrouver avec des résultats qui vous feront croire que vous avez un cancer, une maladie cardiaque ou une maladie neurologique. Cela va alors ajouter encore un peu plus d'anxiété à votre moulin.<br>
                        Seul un médecin sera apte à vous diagnostiquer et à vous rassurer.
                    </p>
                    <p><b>Le piège de l'alcool ou des drogues :</b></p>
                    <p>
                        Lorsqu'on va mal, en plus de chercher ce qu'on a, on va aussi avoir tendance à calmer le problème par tous les moyens. L'alcool et les drogues sont des moyens de fuite qui peuvent être très dangereux. Ils peuvent vous aider à vous sentir mieux sur le moment, mais ils ne feront qu'aggraver votre état sur le long terme.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{# UNDERSTAND MODAL #}

<div class="modal fade" id="understandHomeModal" tabindex="-1" aria-labelledby="understandHomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="understandHomeModalLabel">Bien comprendre ce que vous traversez</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-dark-overlay">
                    <h5>Connaissance : Le Pouvoir sur la Maladie</h5>
                    <p>
                        Bien comprendre sa maladie mentale, c'est se donner le pouvoir et le contrôle sur le monstre invisible dans la pièce. C'est comme connaître les points faibles d'un boss final dans un jeu vidéo. Avec cette connaissance, vous pouvez élaborer des stratégies pour gagner les batailles quotidiennes contre votre trouble.
                    </p>
                    <h5>Démystifier la Maladie</h5>
                    <p>
                        Apprendre tout ce que vous pouvez sur votre trouble psychique est essentiel. Cela peut aider à démystifier ce qui vous arrive et réduire la peur de l'inconnu. C'est un peu comme allumer la lumière dans une pièce sombre pour découvrir que ce que vous pensiez être un monstre est juste un tas de vêtements sur une chaise.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{# ==================== #}

{# DOCTOR MODAL #}

<div class="modal fade" id="doctorHomeModal" tabindex="-1" aria-labelledby="doctorHomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="doctorHomeModalLabel">L'importance du médecin traitant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-dark-overlay">
                    <p>
                        Dans le monde médical, le médecin traitant est un peu comme le capitaine d'un navire : il connaît les eaux tumultueuses de votre santé et sait comment vous naviguer en sécurité vers le port du bien-être, même si la mer de votre santé mentale est agitée.
                    </p>

                    <h5>Le Rôle du Médecin Traitant</h5>
                    <p>
                        Le médecin traitant est le pivot central de votre parcours de santé. Il est le premier interlocuteur, le maestro d'un orchestre de spécialistes, et celui qui détient la baguette magique du dossier médical. C'est aussi le Sherlock Holmes de votre santé, décelant les symptômes mystérieux et déduisant ce qui ne va pas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{# ==================== #}

{# PSY MODAL #}

<div class="modal fade" id="psyHomeModal" tabindex="-1" aria-labelledby="psyHomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="psyHomeModalLabel">L'importance du suivi psychologique</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-dark-overlay">
                    <p>
                        Quand il s'agit de naviguer dans les eaux parfois tumultueuses de la santé mentale, avoir un psychologue ou un psychiatre à bord est comme avoir un guide expérimenté lors d'une expédition en haute mer. Ils ne peuvent pas promettre qu'il n'y aura pas de vagues, mais ils peuvent vous apprendre à ramer de manière plus efficace et, si nécessaire, vous aider à construire un meilleur bateau.
                    </p>

                    <h5>L'Importance d'un Psychologue ou d'un Psychiatre</h5>
                    <p>
                        Quand une personne subit un trouble psychique, l'accompagnement par un psychologue ou un psychiatre n'est pas juste un luxe, c'est aussi crucial que d'avoir un parachute quand on saute en avion. Ces professionnels sont les architectes de la santé mentale, aidant à construire les fondations nécessaires pour soutenir et améliorer la stabilité émotionnelle.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{# ==================== #}

{# COMMUNITY MODAL #}

<div class="modal fade" id="communityHomeModal" tabindex="-1" aria-labelledby="communityHomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="communityHomeModalLabel">Une communauté présente pour vous</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-dark-overlay">
                    <p>
                        Au délà de votre médecin traitant et de votre psychologue, il existe des personnes qui partagent les mêmes difficultés que vous. Ils sont comme des compagnons de voyage qui peuvent vous aider à traverser les tempêtes et à vous guider vers des eaux plus calmes.
                    </p>
                    <h5>À votre service</h5>
                    <p>
                        Que ça soit par le contenu du site internet, le forum et la discussion privée, vous pouvez compter sur moi pour vous répondre, vous aider et vous accompagner vers votre guérison.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{# ==================== #}
