{# UNDERSTAND MODAL #}

<div class="modal fade" id="understandHomeModal" tabindex="-1" aria-labelledby="understandHomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="understandHomeModalLabel">Modal title</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>



{# ==================== #}
