{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
<section class="custom-section home-first-section">
    <div id="first-section-content" class="custom-container">
        <div class="first-section-block">
            <h1>CECI EST MON TITRE PRINCIPAL</h1>
            <p>
                Suspendisse dolor ex, mattis at erat in, scelerisque auctor orci. Etiam gravida eget erat ut sagittis. Vivamus hendrerit erat ligula, lobortis accumsan risus vestibulum id. Nulla aliquam hendrerit ipsum, vitae congue velit. Ut ac justo tortor. Duis sed consectetur enim, ac sollicitudin lectus. Proin at sagittis leo, eget varius ante. Vestibulum in sapien vitae tortor efficitur finibus. Fusce eu maximus lectus, id pharetra nibh. Mauris nec suscipit erat. Cras leo urna, suscipit eget tempor malesuada, fringilla nec orci. Cras vestibulum laoreet urna, ut luctus arcu luctus et. Suspendisse dolor orci, tempor nec rhoncus nec, elementum id enim. Curabitur quis vehicula mi. Duis vestibulum sodales elit, at tristique tortor pulvinar vitae. Aliquam mollis non arcu vel ornare.
            </p>
        </div>
        <div class="first-section-buttons">
            <div>
                <a href="" class="btn">Bouton 1</a>
            </div>
            <div>
                <a href="" class="btn">Bouton 2</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
