{% extends 'admin/baseAdmin.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}
<section class="admin-section admin-volunteer-index-section">
    <div id="admin-volunteer-index-content" class="custom-container custom-container-padding admin-index-page">
    </div>
</section>
{% endblock %}
