/* ======= REGISTRATION CONFIRMATION ======= */
#contact-mail-section{
    padding: 0 5%;
}
#contact-mail-section #contact-mail-container{
    border: 2px solid rgba(60,42,41,1);
}

#contact-mail-section #contact-mail-container .contact-mail-header{
    background: rgba(60,42,41,1);
    text-align: center;
    padding: 10px 0;
}

#contact-mail-section #contact-mail-container .contact-mail-header h1{
    color: #e1d9d1;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
    margin: 0;
}

#contact-mail-section #contact-mail-container .contact-mail-header h1 span{
    color: #13A2B7;
}

#contact-mail-section #contact-mail-container .contact-mail-body{
    padding: 25px;
    background: #e1d9d1;
    color: rgba(60,42,41,1);
}

#contact-mail-section #contact-mail-container .contact-mail-body p{
    margin: 0;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
    font-size: 1.4rem;
}

#contact-mail-section #contact-mail-container .contact-mail-footer{
    background: rgba(0,0,0,0.85);
    text-align: center;
    padding: 10px 0;
}

#contact-mail-section #contact-mail-container .contact-mail-footer a{
    color: #13A2B7;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
}

#contact-mail-section .contact-mail-sign{
    margin-top: 15px;
}

#contact-mail-section table{
    width: 80%;
    margin: auto;
}

#contact-mail-section table tr{
    text-align: left;
}
