{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}
<section class="custom-section volunteer-index-section">
    <div id="volunteer-index-content" class="custom-container custom-container-padding">
        <h1>LES BÉNÉVOLES</h1>
        <p>
            Découvrez notre équipe de bénévoles qui s'investissent pour vous proposer une écoute et un soutien de qualité.
        </p>
        <div class="volunteer-index-content-block">
            {% for v in volunteers %}
                <div class="volunteer-index-item">
                    <div class="volunteer-index-item-img">
{#                        <img src="{{ vich_uploader_asset(v, 'image') }}" alt="{{ v.user.firstname }}">
#}
                    </div>
                    <div class="volunteer-index-item-text">
                        <h2>{{ v.firstname }}</h2>
                        <p></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
