<div class="container-fluid">
    <h4>MY MIND SUPPORT</h4>
    <div>
        <a href="#">MON PARCOURS ANXIEUX</a> <span>|</span> <a href="{{ path('app_contact_index') }}">ME CONTACTER</a> <span>|</span> <a href="#">MENTIONS LÉGALES</a> <span>|</span> <a href="#">CONDITIONS D'UTILISATION</a>
    </div>
    <div class="footer-copyright">
        <p><i class="fa-regular fa-copyright"></i> {{ 'now' | date('Y') }} - My Mind Support | Tous droits réservés.</p>
    </div>
</div>