{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}
<section class="errorpages-section row">
    <div class="col-12">
        <h1>Oups ! Il semblerait que cette page n'existe pas.</h1>
    </div>
    <div class="col-12">
        <a class="btn" href="{{ path('home') }}">Accueil</a>
    </div>

</section>

{% endblock %}
